In [64]:
import csv, sqlite3
con = sqlite3.connect("1.db") 
cur = con.cursor()
cur.execute('''
            SELECT *
            FROM t
            WHERE pclass IN ('1','3')
            ''')
pas = cur.fetchall()

for p in pas:
    print('---')
    print(p)
con.close()

---
('892', '3', 'Kelly, Mr. James', 'male', '34.5', '0', '0', '330911', '7.8292', '', 'Q')
---
('893', '3', 'Wilkes, Mrs. James (Ellen Needs)', 'female', '47', '1', '0', '363272', '7', '', 'S')
---
('895', '3', 'Wirz, Mr. Albert', 'male', '27', '0', '0', '315154', '8.6625', '', 'S')
---
('896', '3', 'Hirvonen, Mrs. Alexander (Helga E Lindqvist)', 'female', '22', '1', '1', '3101298', '12.2875', '', 'S')
---
('897', '3', 'Svensson, Mr. Johan Cervin', 'male', '14', '0', '0', '7538', '9.225', '', 'S')
---
('898', '3', 'Connolly, Miss. Kate', 'female', '30', '0', '0', '330972', '7.6292', '', 'Q')
---
('900', '3', 'Abrahim, Mrs. Joseph (Sophie Halaut Easu)', 'female', '18', '0', '0', '2657', '7.2292', '', 'C')
---
('901', '3', 'Davies, Mr. John Samuel', 'male', '21', '2', '0', 'A/4 48871', '24.15', '', 'S')
---
('902', '3', 'Ilieff, Mr. Ylio', 'male', '', '0', '0', '349220', '7.8958', '', 'S')
---
('903', '1', 'Jones, Mr. Charles Cresson', 'male', '46', '0', '0', '694', '26', '', 'S')
---
('904', '1', 'Snyder, Mrs. John Pillsbury (Nelle Stevenson)', 'female', '23', '1', '0', '21228', '82.2667', 'B45', 'S')
---
('906', '1', 'Chaffee, Mrs. Herbert Fuller (Carrie Constance Toogood)', 'female', '47', '1', '0', 'W.E.P. 5734', '61.175', 'E31', 'S')
---
('909', '3', 'Assaf, Mr. Gerios', 'male', '21', '0', '0', '2692', '7.225', '', 'C')
---
('910', '3', 'Ilmakangas, Miss. Ida Livija', 'female', '27', '1', '0', 'STON/O2. 3101270', '7.925', '', 'S')
---
('911', '3', 'Assaf Khalil, Mrs. Mariana (Miriam")"', 'female', '45', '0', '0', '2696', '7.225', '', 'C')
---
('912', '1', 'Rothschild, Mr. Martin', 'male', '55', '1', '0', 'PC 17603', '59.4', '', 'C')
---
('913', '3', 'Olsen, Master. Artur Karl', 'male', '9', '0', '1', 'C 17368', '3.1708', '', 'S')
---
('914', '1', 'Flegenheim, Mrs. Alfred (Antoinette)', 'female', '', '0', '0', 'PC 17598', '31.6833', '', 'S')
---
('915', '1', 'Williams, Mr. Richard Norris II', 'male', '21', '0', '1', 'PC 17597', '61.3792', '', 'C')
---
('916', '1', 'Ryerson, Mrs. Arthur Larned (Emily Maria Borie)', 'female', '48', '1', '3', 'PC 17608', '262.375', 'B57 B59 B63 B66', 'C')
---
('917', '3', 'Robins, Mr. Alexander A', 'male', '50', '1', '0', 'A/5. 3337', '14.5', '', 'S')
---
('918', '1', 'Ostby, Miss. Helene Ragnhild', 'female', '22', '0', '1', '113509', '61.9792', 'B36', 'C')
---
('919', '3', 'Daher, Mr. Shedid', 'male', '22.5', '0', '0', '2698', '7.225', '', 'C')
---
('920', '1', 'Brady, Mr. John Bertram', 'male', '41', '0', '0', '113054', '30.5', 'A21', 'S')
---
('921', '3', 'Samaan, Mr. Elias', 'male', '', '2', '0', '2662', '21.6792', '', 'C')
---
('924', '3', 'Dean, Mrs. Bertram (Eva Georgetta Light)', 'female', '33', '1', '2', 'C.A. 2315', '20.575', '', 'S')
---
('925', '3', 'Johnston, Mrs. Andrew G (Elizabeth Lily" Watson)"', 'female', '', '1', '2', 'W./C. 6607', '23.45', '', 'S')
---
('926', '1', 'Mock, Mr. Philipp Edmund', 'male', '30', '1', '0', '13236', '57.75', 'C78', 'C')
---
('927', '3', 'Katavelas, Mr. Vassilios (Catavelas Vassilios")"', 'male', '18.5', '0', '0', '2682', '7.2292', '', 'C')
---
('928', '3', 'Roth, Miss. Sarah A', 'female', '', '0', '0', '342712', '8.05', '', 'S')
---
('929', '3', 'Cacic, Miss. Manda', 'female', '21', '0', '0', '315087', '8.6625', '', 'S')
---
('930', '3', 'Sap, Mr. Julius', 'male', '25', '0', '0', '345768', '9.5', '', 'S')
---
('931', '3', 'Hee, Mr. Ling', 'male', '', '0', '0', '1601', '56.4958', '', 'S')
---
('932', '3', 'Karun, Mr. Franz', 'male', '39', '0', '1', '349256', '13.4167', '', 'C')
---
('933', '1', 'Franklin, Mr. Thomas Parham', 'male', '', '0', '0', '113778', '26.55', 'D34', 'S')
---
('934', '3', 'Goldsmith, Mr. Nathan', 'male', '41', '0', '0', 'SOTON/O.Q. 3101263', '7.85', '', 'S')
---
('936', '1', 'Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)', 'female', '45', '1', '0', '11753', '52.5542', 'D19', 'S')
---
('937', '3', 'Peltomaki, Mr. Nikolai Johannes', 'male', '25', '0', '0', 'STON/O 2. 3101291', '7.925', '', 'S')
---
('938', '1', 'Chevre, Mr. Paul Romaine', 'male', '45', '0', '0', 'PC 17594', '29.7', 'A9', 'C')
---
('939', '3', 'Shaughnessy, Mr. Patrick', 'male', '', '0', '0', '370374', '7.75', '', 'Q')
---
('940', '1', 'Bucknell, Mrs. William Robert (Emma Eliza Ward)', 'female', '60', '0', '0', '11813', '76.2917', 'D15', 'C')
---
('941', '3', 'Coutts, Mrs. William (Winnie Minnie" Treanor)"', 'female', '36', '0', '2', 'C.A. 37671', '15.9', '', 'S')
---
('942', '1', 'Smith, Mr. Lucien Philip', 'male', '24', '1', '0', '13695', '60', 'C31', 'S')
---
('945', '1', 'Fortune, Miss. Ethel Flora', 'female', '28', '3', '2', '19950', '263', 'C23 C25 C27', 'S')
---
('947', '3', 'Rice, Master. Albert', 'male', '10', '4', '1', '382652', '29.125', '', 'Q')
---
('948', '3', 'Cor, Mr. Bartol', 'male', '35', '0', '0', '349230', '7.8958', '', 'S')
---
('949', '3', 'Abelseth, Mr. Olaus Jorgensen', 'male', '25', '0', '0', '348122', '7.65', 'F G63', 'S')
---
('950', '3', 'Davison, Mr. Thomas Henry', 'male', '', '1', '0', '386525', '16.1', '', 'S')
---
('951', '1', 'Chaudanson, Miss. Victorine', 'female', '36', '0', '0', 'PC 17608', '262.375', 'B61', 'C')
---
('952', '3', 'Dika, Mr. Mirko', 'male', '17', '0', '0', '349232', '7.8958', '', 'S')
---
('954', '3', 'Bjorklund, Mr. Ernst Herbert', 'male', '18', '0', '0', '347090', '7.75', '', 'S')
---
('955', '3', 'Bradley, Miss. Bridget Delia', 'female', '22', '0', '0', '334914', '7.725', '', 'Q')
---
('956', '1', 'Ryerson, Master. John Borie', 'male', '13', '2', '2', 'PC 17608', '262.375', 'B57 B59 B63 B66', 'C')
---
('958', '3', 'Burns, Miss. Mary Delia', 'female', '18', '0', '0', '330963', '7.8792', '', 'Q')
---
('959', '1', 'Moore, Mr. Clarence Bloomfield', 'male', '47', '0', '0', '113796', '42.4', '', 'S')
---
('960', '1', 'Tucker, Mr. Gilbert Milligan Jr', 'male', '31', '0', '0', '2543', '28.5375', 'C53', 'C')
---
('961', '1', 'Fortune, Mrs. Mark (Mary McDougald)', 'female', '60', '1', '4', '19950', '263', 'C23 C25 C27', 'S')
---
('962', '3', 'Mulvihill, Miss. Bertha E', 'female', '24', '0', '0', '382653', '7.75', '', 'Q')
---
('963', '3', 'Minkoff, Mr. Lazar', 'male', '21', '0', '0', '349211', '7.8958', '', 'S')
---
('964', '3', 'Nieminen, Miss. Manta Josefina', 'female', '29', '0', '0', '3101297', '7.925', '', 'S')
---
('965', '1', 'Ovies y Rodriguez, Mr. Servando', 'male', '28.5', '0', '0', 'PC 17562', '27.7208', 'D43', 'C')
---
('966', '1', 'Geiger, Miss. Amalie', 'female', '35', '0', '0', '113503', '211.5', 'C130', 'C')
---
('967', '1', 'Keeping, Mr. Edwin', 'male', '32.5', '0', '0', '113503', '211.5', 'C132', 'C')
---
('968', '3', 'Miles, Mr. Frank', 'male', '', '0', '0', '359306', '8.05', '', 'S')
---
('969', '1', 'Cornell, Mrs. Robert Clifford (Malvina Helen Lamson)', 'female', '55', '2', '0', '11770', '25.7', 'C101', 'S')
---
('971', '3', 'Doyle, Miss. Elizabeth', 'female', '24', '0', '0', '368702', '7.75', '', 'Q')
---
('972', '3', 'Boulos, Master. Akar', 'male', '6', '1', '1', '2678', '15.2458', '', 'C')
---
('973', '1', 'Straus, Mr. Isidor', 'male', '67', '1', '0', 'PC 17483', '221.7792', 'C55 C57', 'S')
---
('974', '1', 'Case, Mr. Howard Brown', 'male', '49', '0', '0', '19924', '26', '', 'S')
---
('975', '3', 'Demetri, Mr. Marinko', 'male', '', '0', '0', '349238', '7.8958', '', 'S')
---
('977', '3', 'Khalil, Mr. Betros', 'male', '', '1', '0', '2660', '14.4542', '', 'C')
---
('978', '3', 'Barry, Miss. Julia', 'female', '27', '0', '0', '330844', '7.8792', '', 'Q')
---
('979', '3', 'Badman, Miss. Emily Louisa', 'female', '18', '0', '0', 'A/4 31416', '8.05', '', 'S')
---
('980', '3', "O'Donoghue, Ms. Bridget", 'female', '', '0', '0', '364856', '7.75', '', 'Q')
---
('982', '3', 'Dyker, Mrs. Adolf Fredrik (Anna Elisabeth Judith Andersson)', 'female', '22', '1', '0', '347072', '13.9', '', 'S')
---
('983', '3', 'Pedersen, Mr. Olaf', 'male', '', '0', '0', '345498', '7.775', '', 'S')
---
('984', '1', 'Davidson, Mrs. Thornton (Orian Hays)', 'female', '27', '1', '2', 'F.C. 12750', '52', 'B71', 'S')
---
('985', '3', 'Guest, Mr. Robert', 'male', '', '0', '0', '376563', '8.05', '', 'S')
---
('986', '1', 'Birnbaum, Mr. Jakob', 'male', '25', '0', '0', '13905', '26', '', 'C')
---
('987', '3', 'Tenglin, Mr. Gunnar Isidor', 'male', '25', '0', '0', '350033', '7.7958', '', 'S')
---
('988', '1', 'Cavendish, Mrs. Tyrell William (Julia Florence Siegel)', 'female', '76', '1', '0', '19877', '78.85', 'C46', 'S')
---
('989', '3', 'Makinen, Mr. Kalle Edvard', 'male', '29', '0', '0', 'STON/O 2. 3101268', '7.925', '', 'S')
---
('990', '3', 'Braf, Miss. Elin Ester Maria', 'female', '20', '0', '0', '347471', '7.8542', '', 'S')
---
('991', '3', 'Nancarrow, Mr. William Henry', 'male', '33', '0', '0', 'A./5. 3338', '8.05', '', 'S')
---
('992', '1', 'Stengel, Mrs. Charles Emil Henry (Annie May Morris)', 'female', '43', '1', '0', '11778', '55.4417', 'C116', 'C')
---
('994', '3', 'Foley, Mr. William', 'male', '', '0', '0', '365235', '7.75', '', 'Q')
---
('995', '3', 'Johansson Palmquist, Mr. Oskar Leander', 'male', '26', '0', '0', '347070', '7.775', '', 'S')
---
('996', '3', 'Thomas, Mrs. Alexander (Thamine Thelma")"', 'female', '16', '1', '1', '2625', '8.5167', '', 'C')
---
('997', '3', 'Holthen, Mr. Johan Martin', 'male', '28', '0', '0', 'C 4001', '22.525', '', 'S')
---
('998', '3', 'Buckley, Mr. Daniel', 'male', '21', '0', '0', '330920', '7.8208', '', 'Q')
---
('999', '3', 'Ryan, Mr. Edward', 'male', '', '0', '0', '383162', '7.75', '', 'Q')
---
('1000', '3', 'Willer, Mr. Aaron (Abi Weller")"', 'male', '', '0', '0', '3410', '8.7125', '', 'S')
---
('1003', '3', 'Shine, Miss. Ellen Natalia', 'female', '', '0', '0', '330968', '7.7792', '', 'Q')
---
('1004', '1', 'Evans, Miss. Edith Corse', 'female', '36', '0', '0', 'PC 17531', '31.6792', 'A29', 'C')
---
('1005', '3', 'Buckley, Miss. Katherine', 'female', '18.5', '0', '0', '329944', '7.2833', '', 'Q')
---
('1006', '1', 'Straus, Mrs. Isidor (Rosalie Ida Blun)', 'female', '63', '1', '0', 'PC 17483', '221.7792', 'C55 C57', 'S')
---
('1007', '3', 'Chronopoulos, Mr. Demetrios', 'male', '18', '1', '0', '2680', '14.4542', '', 'C')
---
('1008', '3', 'Thomas, Mr. John', 'male', '', '0', '0', '2681', '6.4375', '', 'C')
---
('1009', '3', 'Sandstrom, Miss. Beatrice Irene', 'female', '1', '1', '1', 'PP 9549', '16.7', 'G6', 'S')
---
('1010', '1', 'Beattie, Mr. Thomson', 'male', '36', '0', '0', '13050', '75.2417', 'C6', 'C')
---
('1013', '3', 'Kiernan, Mr. John', 'male', '', '1', '0', '367227', '7.75', '', 'Q')
---
('1014', '1', 'Schabert, Mrs. Paul (Emma Mock)', 'female', '35', '1', '0', '13236', '57.75', 'C28', 'C')
---
('1015', '3', 'Carver, Mr. Alfred John', 'male', '28', '0', '0', '392095', '7.25', '', 'S')
---
('1016', '3', 'Kennedy, Mr. John', 'male', '', '0', '0', '368783', '7.75', '', 'Q')
---
('1017', '3', 'Cribb, Miss. Laura Alice', 'female', '17', '0', '1', '371362', '16.1', '', 'S')
---
('1018', '3', 'Brobeck, Mr. Karl Rudolf', 'male', '22', '0', '0', '350045', '7.7958', '', 'S')
---
('1019', '3', 'McCoy, Miss. Alicia', 'female', '', '2', '0', '367226', '23.25', '', 'Q')
---
('1021', '3', 'Petersen, Mr. Marius', 'male', '24', '0', '0', '342441', '8.05', '', 'S')
---
('1022', '3', 'Spinner, Mr. Henry John', 'male', '32', '0', '0', 'STON/OQ. 369943', '8.05', '', 'S')
---
('1023', '1', 'Gracie, Col. Archibald IV', 'male', '53', '0', '0', '113780', '28.5', 'C51', 'C')
---
('1024', '3', 'Lefebre, Mrs. Frank (Frances)', 'female', '', '0', '4', '4133', '25.4667', '', 'S')
---
('1025', '3', 'Thomas, Mr. Charles P', 'male', '', '1', '0', '2621', '6.4375', '', 'C')
---
('1026', '3', 'Dintcheff, Mr. Valtcho', 'male', '43', '0', '0', '349226', '7.8958', '', 'S')
---
('1027', '3', 'Carlsson, Mr. Carl Robert', 'male', '24', '0', '0', '350409', '7.8542', '', 'S')
---
('1028', '3', 'Zakarian, Mr. Mapriededer', 'male', '26.5', '0', '0', '2656', '7.225', '', 'C')
---
('1030', '3', 'Drapkin, Miss. Jennie', 'female', '23', '0', '0', 'SOTON/OQ 392083', '8.05', '', 'S')
---
('1031', '3', 'Goodwin, Mr. Charles Frederick', 'male', '40', '1', '6', 'CA 2144', '46.9', '', 'S')
---
('1032', '3', 'Goodwin, Miss. Jessie Allis', 'female', '10', '5', '2', 'CA 2144', '46.9', '', 'S')
---
('1033', '1', 'Daniels, Miss. Sarah', 'female', '33', '0', '0', '113781', '151.55', '', 'S')
---
('1034', '1', 'Ryerson, Mr. Arthur Larned', 'male', '61', '1', '3', 'PC 17608', '262.375', 'B57 B59 B63 B66', 'C')
---
('1036', '1', 'Lindeberg-Lind, Mr. Erik Gustaf (Mr Edward Lingrey")"', 'male', '42', '0', '0', '17475', '26.55', '', 'S')
---
('1037', '3', 'Vander Planke, Mr. Julius', 'male', '31', '3', '0', '345763', '18', '', 'S')
---
('1038', '1', 'Hilliard, Mr. Herbert Henry', 'male', '', '0', '0', '17463', '51.8625', 'E46', 'S')
---
('1039', '3', 'Davies, Mr. Evan', 'male', '22', '0', '0', 'SC/A4 23568', '8.05', '', 'S')
---
('1040', '1', 'Crafton, Mr. John Bertram', 'male', '', '0', '0', '113791', '26.55', '', 'S')
---
('1042', '1', 'Earnshaw, Mrs. Boulton (Olive Potter)', 'female', '23', '0', '1', '11767', '83.1583', 'C54', 'C')
---
('1043', '3', 'Matinoff, Mr. Nicola', 'male', '', '0', '0', '349255', '7.8958', '', 'C')
---
('1044', '3', 'Storey, Mr. Thomas', 'male', '60.5', '0', '0', '3701', '', '', 'S')
---
('1045', '3', 'Klasen, Mrs. (Hulda Kristina Eugenia Lofqvist)', 'female', '36', '0', '2', '350405', '12.1833', '', 'S')
---
('1046', '3', 'Asplund, Master. Filip Oscar', 'male', '13', '4', '2', '347077', '31.3875', '', 'S')
---
('1047', '3', 'Duquemin, Mr. Joseph', 'male', '24', '0', '0', 'S.O./P.P. 752', '7.55', '', 'S')
---
('1048', '1', 'Bird, Miss. Ellen', 'female', '29', '0', '0', 'PC 17483', '221.7792', 'C97', 'S')
---
('1049', '3', 'Lundin, Miss. Olga Elida', 'female', '23', '0', '0', '347469', '7.8542', '', 'S')
---
('1050', '1', 'Borebank, Mr. John James', 'male', '42', '0', '0', '110489', '26.55', 'D22', 'S')
---
('1051', '3', 'Peacock, Mrs. Benjamin (Edith Nile)', 'female', '26', '0', '2', 'SOTON/O.Q. 3101315', '13.775', '', 'S')
---
('1052', '3', 'Smyth, Miss. Julia', 'female', '', '0', '0', '335432', '7.7333', '', 'Q')
---
('1053', '3', 'Touma, Master. Georges Youssef', 'male', '7', '1', '1', '2650', '15.2458', '', 'C')
---
('1055', '3', 'Pearce, Mr. Ernest', 'male', '', '0', '0', '343271', '7', '', 'S')
---
('1057', '3', 'Kink-Heilmann, Mrs. Anton (Luise Heilmann)', 'female', '26', '1', '1', '315153', '22.025', '', 'S')
---
('1058', '1', 'Brandeis, Mr. Emil', 'male', '48', '0', '0', 'PC 17591', '50.4958', 'B10', 'C')
---
('1059', '3', 'Ford, Mr. Edward Watson', 'male', '18', '2', '2', 'W./C. 6608', '34.375', '', 'S')
---
('1060', '1', 'Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genevieve Fosdick)', 'female', '', '0', '0', '17770', '27.7208', '', 'C')
---
('1061', '3', 'Hellstrom, Miss. Hilda Maria', 'female', '22', '0', '0', '7548', '8.9625', '', 'S')
---
('1062', '3', 'Lithman, Mr. Simon', 'male', '', '0', '0', 'S.O./P.P. 251', '7.55', '', 'S')
---
('1063', '3', 'Zakarian, Mr. Ortin', 'male', '27', '0', '0', '2670', '7.225', '', 'C')
---
('1064', '3', 'Dyker, Mr. Adolf Fredrik', 'male', '23', '1', '0', '347072', '13.9', '', 'S')
---
('1065', '3', 'Torfa, Mr. Assad', 'male', '', '0', '0', '2673', '7.2292', '', 'C')
---
('1066', '3', 'Asplund, Mr. Carl Oscar Vilhelm Gustafsson', 'male', '40', '1', '5', '347077', '31.3875', '', 'S')
---
('1069', '1', 'Stengel, Mr. Charles Emil Henry', 'male', '54', '1', '0', '11778', '55.4417', 'C116', 'C')
---
('1071', '1', 'Compton, Mrs. Alexander Taylor (Mary Eliza Ingersoll)', 'female', '64', '0', '2', 'PC 17756', '83.1583', 'E45', 'C')
---
('1073', '1', 'Compton, Mr. Alexander Taylor Jr', 'male', '37', '1', '1', 'PC 17756', '83.1583', 'E52', 'C')
---
('1074', '1', 'Marvin, Mrs. Daniel Warner (Mary Graham Carmichael Farquarson)', 'female', '18', '1', '0', '113773', '53.1', 'D30', 'S')
---
('1075', '3', 'Lane, Mr. Patrick', 'male', '', '0', '0', '7935', '7.75', '', 'Q')
---
('1076', '1', 'Douglas, Mrs. Frederick Charles (Mary Helene Baxter)', 'female', '27', '1', '1', 'PC 17558', '247.5208', 'B58 B60', 'C')
---
('1079', '3', 'Davies, Mr. Joseph', 'male', '17', '2', '0', 'A/4 48873', '8.05', '', 'S')
---
('1080', '3', 'Sage, Miss. Ada', 'female', '', '8', '2', 'CA. 2343', '69.55', '', 'S')
---
('1083', '1', 'Salomon, Mr. Abraham L', 'male', '', '0', '0', '111163', '26', '', 'S')
---
('1084', '3', 'van Billiard, Master. Walter John', 'male', '11.5', '1', '1', 'A/5. 851', '14.5', '', 'S')
---
('1087', '3', 'Karlsson, Mr. Julius Konrad Eugen', 'male', '33', '0', '0', '347465', '7.8542', '', 'S')
---
('1088', '1', 'Spedden, Master. Robert Douglas', 'male', '6', '0', '2', '16966', '134.5', 'E34', 'C')
---
('1089', '3', 'Nilsson, Miss. Berta Olivia', 'female', '18', '0', '0', '347066', '7.775', '', 'S')
---
('1091', '3', 'Rasmussen, Mrs. (Lena Jacobsen Solvang)', 'female', '', '0', '0', '65305', '8.1125', '', 'S')
---
('1092', '3', 'Murphy, Miss. Nora', 'female', '', '0', '0', '36568', '15.5', '', 'Q')
---
('1093', '3', 'Danbom, Master. Gilbert Sigvard Emanuel', 'male', '0.33', '0', '2', '347080', '14.4', '', 'S')
---
('1094', '1', 'Astor, Col. John Jacob', 'male', '47', '1', '0', 'PC 17757', '227.525', 'C62 C64', 'C')
---
('1097', '1', 'Omont, Mr. Alfred Fernand', 'male', '', '0', '0', 'F.C. 12998', '25.7417', '', 'C')
---
('1098', '3', 'McGowan, Miss. Katherine', 'female', '35', '0', '0', '9232', '7.75', '', 'Q')
---
('1100', '1', 'Rosenbaum, Miss. Edith Louise', 'female', '33', '0', '0', 'PC 17613', '27.7208', 'A11', 'C')
---
('1101', '3', 'Delalic, Mr. Redjo', 'male', '25', '0', '0', '349250', '7.8958', '', 'S')
---
('1102', '3', 'Andersen, Mr. Albert Karvin', 'male', '32', '0', '0', 'C 4001', '22.525', '', 'S')
---
('1103', '3', 'Finoli, Mr. Luigi', 'male', '', '0', '0', 'SOTON/O.Q. 3101308', '7.05', '', 'S')
---
('1106', '3', 'Andersson, Miss. Ida Augusta Margareta', 'female', '38', '4', '2', '347091', '7.775', '', 'S')
---
('1107', '1', 'Head, Mr. Christopher', 'male', '42', '0', '0', '113038', '42.5', 'B11', 'S')
---
('1108', '3', 'Mahon, Miss. Bridget Delia', 'female', '', '0', '0', '330924', '7.8792', '', 'Q')
---
('1109', '1', 'Wick, Mr. George Dennick', 'male', '57', '1', '1', '36928', '164.8667', '', 'S')
---
('1110', '1', 'Widener, Mrs. George Dunton (Eleanor Elkins)', 'female', '50', '1', '1', '113503', '211.5', 'C80', 'C')
---
('1111', '3', 'Thomson, Mr. Alexander Morrison', 'male', '', '0', '0', '32302', '8.05', '', 'S')
---
('1113', '3', 'Reynolds, Mr. Harold J', 'male', '21', '0', '0', '342684', '8.05', '', 'S')
---
('1115', '3', 'Karlsson, Mr. Einar Gervasius', 'male', '21', '0', '0', '350053', '7.7958', '', 'S')
---
('1116', '1', 'Candee, Mrs. Edward (Helen Churchill Hungerford)', 'female', '53', '0', '0', 'PC 17606', '27.4458', '', 'C')
---
('1117', '3', 'Moubarek, Mrs. George (Omine Amenia" Alexander)"', 'female', '', '0', '2', '2661', '15.2458', '', 'C')
---
('1118', '3', 'Asplund, Mr. Johan Charles', 'male', '23', '0', '0', '350054', '7.7958', '', 'S')
---
('1119', '3', 'McNeill, Miss. Bridget', 'female', '', '0', '0', '370368', '7.75', '', 'Q')
---
('1120', '3', 'Everett, Mr. Thomas James', 'male', '40.5', '0', '0', 'C.A. 6212', '15.1', '', 'S')
---
('1123', '1', 'Willard, Miss. Constance', 'female', '21', '0', '0', '113795', '26.55', '', 'S')
---
('1124', '3', 'Wiklund, Mr. Karl Johan', 'male', '21', '1', '0', '3101266', '6.4958', '', 'S')
---
('1125', '3', 'Linehan, Mr. Michael', 'male', '', '0', '0', '330971', '7.8792', '', 'Q')
---
('1126', '1', 'Cumings, Mr. John Bradley', 'male', '39', '1', '0', 'PC 17599', '71.2833', 'C85', 'C')
---
('1127', '3', 'Vendel, Mr. Olof Edvin', 'male', '20', '0', '0', '350416', '7.8542', '', 'S')
---
('1128', '1', 'Warren, Mr. Frank Manley', 'male', '64', '1', '0', '110813', '75.25', 'D37', 'C')
---
('1129', '3', 'Baccos, Mr. Raffull', 'male', '20', '0', '0', '2679', '7.225', '', 'C')
---
('1131', '1', 'Douglas, Mrs. Walter Donald (Mahala Dutton)', 'female', '48', '1', '0', 'PC 17761', '106.425', 'C86', 'C')
---
('1132', '1', 'Lindstrom, Mrs. Carl Johan (Sigrid Posse)', 'female', '55', '0', '0', '112377', '27.7208', '', 'C')

In [66]:
import pandas as pd
df = pd.read_csv("titanic_test_data.csv")
df[df.pclass.isin([1,3])][["name","age"]]

                                             name   age
0                                Kelly, Mr. James  34.5
1                Wilkes, Mrs. James (Ellen Needs)  47.0
3                                Wirz, Mr. Albert  27.0
4    Hirvonen, Mrs. Alexander (Helga E Lindqvist)  22.0
5                      Svensson, Mr. Johan Cervin  14.0
..                                            ...   ...
413                            Spector, Mr. Woolf   NaN
414                  Oliva y Ocana, Dona. Fermina  39.0
415                  Saether, Mr. Simon Sivertsen  38.5
416                           Ware, Mr. Frederick   NaN
417                      Peter, Master. Michael J   NaN

[325 rows x 2 columns]

In [18]:
df

,passenger_id,pclass,name,gender,age,sibsp,parch,ticket,fare,cabin,embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C